#documents-container{
  display: inline-flex;
  width: 100%
}

#documents-sidebar {
  li {
    display: block;
    padding-top: 20px;
  }

  text-align: center;
  cursor: pointer;
  width: 20%;
}

.pdf-viewer{
  flex-grow: 5;

  iframe {
    width: 100%;
    float: right;
    height: 850px;
  }

  #header {
    display: block;
    padding-left: 200px;
    padding-top: 20x;
  }
}
