#navbar-list {
  padding: 10px 0px;
  /* background-color: #b04891; */
  // background-image: url('./186774.jpg');
  background-color: black;
}

#nav-home {
  padding-left: 10px;
  float: middle;
}

.nav-link {
  margin-left: 90px;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
  outline: none;
  color: #936fb1;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}
